.text-underline {
	text-decoration-line: underline;
}

.text-underline\:hover:hover {
	text-decoration-line: underline;
}

.text-overline {
	text-decoration-line: overline;
}

.text-line-through {
	text-decoration-line: line-through;
}

.text-no-underline {
	text-decoration-line: none;
}
