.break-normal-words {
	word-break: normal;
	overflow-wrap: normal;
}

.break-words {
	overflow-wrap: break-word;
}

.break-all-words {
	word-break: break-all;
}

.break-keep-words {
	word-break: keep-all;
}
