@use '@/scss/abstracts/scss-variables/breakpoints' as *;
@use '@/scss/abstracts/scss-variables/spacing' as *;
@use 'sass:string';

.m-auto {
	margin: auto;
}

.ml-auto {
	margin-left: auto;
}

.ml-auto\! {
	margin-left: auto !important;
}

.mr-auto {
	margin-right: auto;
}

.mr-auto\! {
	margin-right: auto !important;
}

.m-auto\! {
	margin: auto !important;
}

.mx-auto {
	margin: 0 auto;
}

.mx-auto\! {
	margin: 0 auto !important;
}

.my-auto {
	margin: auto 0;
}

.my-auto\! {
	margin: auto 0 !important;
}

@each $size-number, $size-value in $sizes {
	$number: string.slice($size-number, 6);

	// Looping through to generate the margin classes for each breakpoints
	@each $key, $val in $breakpoints {
		@media screen and (min-width: #{$val}) {
			.#{$key}-min\: {
				&m {
					&-#{$number} {
						margin: $size-value;
					}

					&-#{$number}\! {
						margin: $size-value !important;
					}

					&x-#{$number} {
						margin-right: $size-value;
						margin-left: $size-value;
					}

					&x-#{$number}\! {
						margin-right: $size-value !important;
						margin-left: $size-value !important;
					}

					&y-#{$number} {
						margin-top: $size-value;
						margin-bottom: $size-value;
					}

					&y-#{$number}\! {
						margin-top: $size-value !important;
						margin-bottom: $size-value !important;
					}

					&l-#{$number} {
						margin-left: $size-value;
					}

					&l-#{$number}\! {
						margin-left: $size-value !important;
					}

					&t-#{$number} {
						margin-top: $size-value;
					}

					&t-#{$number}\! {
						margin-top: $size-value !important;
					}

					&r-#{$number} {
						margin-right: $size-value;
					}

					&r-#{$number}\! {
						margin-right: $size-value !important;
					}

					&b-#{$number} {
						margin-bottom: $size-value;
					}

					&b-#{$number}\! {
						margin-bottom: $size-value !important;
					}
				}
			}
		}

		@media screen and (max-width: #{$val}) {
			.#{$key}-max\: {
				&m {
					&-#{$number} {
						margin: $size-value;
					}

					&-#{$number}\! {
						margin: $size-value !important;
					}

					&x-#{$number} {
						margin-right: $size-value;
						margin-left: $size-value;
					}

					&x-#{$number}\! {
						margin-right: $size-value !important;
						margin-left: $size-value !important;
					}

					&y-#{$number} {
						margin-top: $size-value;
						margin-bottom: $size-value;
					}

					&y-#{$number}\! {
						margin-top: $size-value !important;
						margin-bottom: $size-value !important;
					}

					&l-#{$number} {
						margin-left: $size-value;
					}

					&l-#{$number}\! {
						margin-left: $size-value !important;
					}

					&t-#{$number} {
						margin-top: $size-value;
					}

					&t-#{$number}\! {
						margin-top: $size-value !important;
					}

					&r-#{$number} {
						margin-right: $size-value;
					}

					&r-#{$number}\! {
						margin-right: $size-value !important;
					}

					&b-#{$number} {
						margin-bottom: $size-value;
					}

					&b-#{$number}\! {
						margin-bottom: $size-value !important;
					}
				}
			}
		}
	}

	.m {
		&-#{$number} {
			margin: $size-value;
		}

		&x-#{$number} {
			margin-right: $size-value;
			margin-left: $size-value;
		}

		&y-#{$number} {
			margin-top: $size-value;
			margin-bottom: $size-value;
		}

		&l-#{$number} {
			margin-left: $size-value;
		}

		&t-#{$number} {
			margin-top: $size-value;
		}

		&r-#{$number} {
			margin-right: $size-value;
		}

		&b-#{$number} {
			margin-bottom: $size-value;
		}

		&-#{$number}\! {
			margin: $size-value !important;
		}

		&x-#{$number}\! {
			margin-right: $size-value !important;
			margin-left: $size-value !important;
		}

		&y-#{$number}\! {
			margin-top: $size-value !important;
			margin-bottom: $size-value !important;
		}

		&l-#{$number}\! {
			margin-left: $size-value !important;
		}

		&t-#{$number}\! {
			margin-top: $size-value !important;
		}

		&r-#{$number}\! {
			margin-right: $size-value !important;
		}

		&b-#{$number}\! {
			margin-bottom: $size-value !important;
		}
	}
}
