@use '@/scss/abstracts/scss-variables/breakpoints' as *;
@use '@/scss/abstracts/scss-variables/spacing' as *;
@use 'sass:string';

@each $size-number, $size-value in $sizes {
	$number: string.slice($size-number, 6);

	// Looping through to generate the padding classes for each breakpoints
	@each $key, $val in $breakpoints {
		@media screen and (max-width: #{$val}) {
			.#{$key}\: {
				&p {
					&-#{$number} {
						padding: $size-value;
					}

					&-#{$number}\! {
						padding: $size-value !important;
					}

					&x-#{$number} {
						padding-right: $size-value;
						padding-left: $size-value;
					}

					&x-#{$number}\! {
						padding-right: $size-value !important;
						padding-left: $size-value !important;
					}

					&y-#{$number} {
						padding-top: $size-value;
						padding-bottom: $size-value;
					}

					&y-#{$number}\! {
						padding-top: $size-value !important;
						padding-bottom: $size-value !important;
					}

					&l-#{$number} {
						padding-left: $size-value;
					}

					&l-#{$number}\! {
						padding-left: $size-value !important;
					}

					&t-#{$number} {
						padding-top: $size-value;
					}

					&t-#{$number}\! {
						padding-top: $size-value !important;
					}
					&r-#{$number} {
						padding-right: $size-value;
					}

					&r-#{$number}\! {
						padding-right: $size-value !important;
					}

					&b-#{$number} {
						padding-bottom: $size-value;
					}

					&b-#{$number}\! {
						padding-bottom: $size-value !important;
					}
				}
			}
		}
	}

	.p {
		&-#{$number} {
			padding: $size-value;
		}

		&x-#{$number} {
			padding-right: $size-value;
			padding-left: $size-value;
		}

		&y-#{$number} {
			padding-top: $size-value;
			padding-bottom: $size-value;
		}

		&l-#{$number} {
			padding-left: $size-value;
		}

		&t-#{$number} {
			padding-top: $size-value;
		}

		&r-#{$number} {
			padding-right: $size-value;
		}

		&b-#{$number} {
			padding-bottom: $size-value;
		}

		&-#{$number}\! {
			padding: $size-value !important;
		}

		&x-#{$number}\! {
			padding-right: $size-value !important;
			padding-left: $size-value !important;
		}

		&y-#{$number}\! {
			padding-top: $size-value !important;
			padding-bottom: $size-value !important;
		}

		&l-#{$number}\! {
			padding-left: $size-value !important;
		}

		&t-#{$number}\! {
			padding-top: $size-value !important;
		}

		&r-#{$number}\! {
			padding-right: $size-value !important;
		}

		&b-#{$number}\! {
			padding-bottom: $size-value !important;
		}
	}
}
