.d-block {
	display: block;
}

.d-block\! {
	display: block !important;
}

.d-inline-block {
	display: inline-block;
}

.d-inline-block\! {
	display: inline-block !important;
}

.d-inline {
	display: inline;
}

.d-inline\! {
	display: inline !important;
}

.d-hidden {
	display: none;
}

.d-hidden\! {
	display: none !important;
}
