.img-fluid {
	display: block;
	width: 100%;
	height: auto;
	max-width: 100%;
}

.img-fluid-1\/5 {
	display: block;
	width: 100%;
	height: auto;
	max-width: 15%;
}

.img-fluid-1\/4 {
	display: block;
	width: 100%;
	height: auto;
	max-width: 25%;
}

.img-fluid-1\/2 {
	display: block;
	width: 100%;
	height: auto;
	max-width: 50%;
}
