.clr-text-cool-gray-100 {
	color: var(--clr-cool-gray-100);
}

.clr-text-cool-gray-200 {
	color: var(--clr-cool-gray-200);
}

.clr-text-cool-gray-300 {
	color: var(--clr-cool-gray-300);
}

.clr-text-cool-gray-400 {
	color: var(--clr-cool-gray-400);
}

.clr-text-cool-gray-500 {
	color: var(--clr-cool-gray-500);
}

.clr-text-cool-gray-600 {
	color: var(--clr-cool-gray-600);
}

.clr-text-cool-gray-700 {
	color: var(--clr-cool-gray-700);
}

.clr-text-cool-gray-800 {
	color: var(--clr-cool-gray-800);
}

.clr-text-cool-gray-900 {
	color: var(--clr-cool-gray-900);
}

.clr-text-cool-gray-999 {
	color: var(--clr-cool-gray-999);
}
