.clr-text-gray-100 {
	color: var(--clr-gray-100);
}

.clr-text-gray-200 {
	color: var(--clr-gray-200);
}

.clr-text-gray-300 {
	color: var(--clr-gray-300);
}

.clr-text-gray-400 {
	color: var(--clr-gray-400);
}

.clr-text-gray-500 {
	color: var(--clr-gray-500);
}

.clr-text-gray-600 {
	color: var(--clr-gray-600);
}

.clr-text-gray-700 {
	color: var(--clr-gray-700);
}

.clr-text-gray-800 {
	color: var(--clr-gray-800);
}

.clr-text-gray-900 {
	color: var(--clr-gray-900);
}

.clr-text-gray-999 {
	color: var(--clr-gray-999);
}
