:root {
	--clr-blue-gray-100: hsl(210, 40%, 98%);
	--clr-blue-gray-200: hsl(210, 40%, 96.1%);
	--clr-blue-gray-300: hsl(214, 31.8%, 91.4%);
	--clr-blue-gray-400: hsl(213, 26.8%, 83.9%);
	--clr-blue-gray-500: hsl(215, 20.2%, 65.1%);
	--clr-blue-gray-600: hsl(215, 16.3%, 46.9%);
	--clr-blue-gray-700: hsl(215, 19.3%, 34.5%);
	--clr-blue-gray-800: hsl(215, 25%, 26.7%);
	--clr-blue-gray-900: hsl(217, 32.6%, 17.5%);
	--clr-blue-gray-999: hsl(222, 47.4%, 11.2%);
}
