:root {
	--clr-cool-gray-100: hsl(210, 20%, 98%);
	--clr-cool-gray-200: hsl(220, 14.3%, 95.9%);
	--clr-cool-gray-300: hsl(220, 13%, 91%);
	--clr-cool-gray-400: hsl(216, 12.2%, 83.9%);
	--clr-cool-gray-500: hsl(218, 10.6%, 64.9%);
	--clr-cool-gray-600: hsl(220, 8.9%, 46.1%);
	--clr-cool-gray-700: hsl(215, 13.8%, 34.1%);
	--clr-cool-gray-800: hsl(217, 19.1%, 26.7%);
	--clr-cool-gray-900: hsl(215, 27.9%, 16.9%);
	--clr-cool-gray-999: hsl(221, 39.3%, 11%);
}
