$colors-cool-gray: (
	100: hsl(210, 20%, 98%),
	200: hsl(220, 14.3%, 95.9%),
	300: hsl(220, 13%, 91%),
	400: hsl(216, 12.2%, 83.9%),
	500: hsl(218, 10.6%, 64.9%),
	600: hsl(220, 8.9%, 46.1%),
	700: hsl(215, 13.8%, 34.1%),
	800: hsl(217, 19.1%, 26.7%),
	900: hsl(215, 27.9%, 16.9%),
	999: hsl(221, 39.3%, 11%),
);

:root {
	@each $key, $value in $colors-cool-gray {
		--clr-cool-gray-#{$key}: #{$value};
	}
}

@each $key, $value in $colors-cool-gray {
	$number: $key;

	.bg-cool-gray {
		&-#{$number} {
			background-color: $value;
		}
	}

	.hover\:bg-cool-gray-#{$number}:hover {
		background-color: $value;
	}

	.text-cool-gray {
		&-#{$number} {
			color: $value;
		}

		&.hover\:text-cool-gray:hover {
			&-#{$number} {
				color: $value;
			}
		}
	}
}
