@use 'sass:string';

$colors-amber: (
	50: hsl(48, 100%, 96.1%),
	100: hsl(48, 96.5%, 88.8%),
	200: hsl(48, 96.6%, 76.7%),
	300: hsl(45, 96.7%, 64.5%),
	400: hsl(43, 96.4%, 56.3%),
	500: hsl(38, 92.1%, 50.2%),
	600: hsl(32, 94.6%, 43.7%),
	700: hsl(26, 90.5%, 37.1%),
	800: hsl(23, 82.5%, 31.4%),
	9: hsl(22, 77.8%, 26.5%),
);

@each $key, $value in $colors-amber {
	$number: $key;

	.bg-amber {
		&-#{$number} {
			background-color: $value;
		}
	}

	.hover\:bg-amber-#{$number}:hover {
		background-color: $value;
	}

	.text-amber {
		&-#{$number} {
			color: $value;
		}

		&.hover\:text-amber:hover {
			&-#{$number} {
				color: $value;
			}
		}
	}
}
