$colors-gray: (
	50: hsl(0, 0%, 98%),
	100: hsl(240, 4.8%, 95.9%),
	200: hsl(240, 5.9%, 90%),
	300: hsl(240, 4.9%, 83.9%),
	400: hsl(240, 5%, 64.9%),
	500: hsl(240, 3.8%, 46.1%),
	600: hsl(240, 5.2%, 33.9%),
	700: hsl(240, 5.3%, 26.1%),
	800: hsl(240, 3.7%, 15.9%),
	900: hsl(240, 5.9%, 10%),
);

@each $key, $value in $colors-gray {
	$number: $key;

	.bg-gray {
		&-#{$number} {
			background-color: $value;
		}
	}

	.hover\:bg-gray-#{$number}:hover {
		background-color: $value;
	}

	.text-gray {
		&-#{$number} {
			color: $value;
		}

		&.hover\:text-gray:hover {
			&-#{$number} {
				color: $value;
			}
		}
	}
}
