$colors-white: hsl(0, 0%, 100%);

.bg-white {
	background-color: $colors-white;
}

.hover\:bg-white:hover {
	background-color: $colors-white;
}

.text-white {
	color: $colors-white;

	&.hover\:text-white:hover {
		color: $colors-white;
	}
}
