$colors-warm-gray: (
	100: hsl(60, 9.1%, 97.8%),
	200: hsl(60, 4.8%, 95.9%),
	300: hsl(20, 5.9%, 90%),
	400: hsl(24, 5.7%, 82.9%),
	500: hsl(24, 5.4%, 63.9%),
	600: hsl(25, 5.3%, 44.7%),
	700: hsl(33, 5.5%, 32.4%),
	800: hsl(30, 6.3%, 25.1%),
	900: hsl(12, 6.5%, 15.1%),
	999: hsl(24, 9.8%, 10%),
);

:root {
	@each $key, $value in $colors-warm-gray {
		--clr-warm-gray-#{$key}: #{$value};
	}
}

@each $key, $value in $colors-warm-gray {
	$number: $key;

	.bg-warm-gray {
		&-#{$number} {
			background-color: $value;
		}
	}

	.hover\:bg-warm-gray-#{$number}:hover {
		background-color: $value;
	}

	.text-warm-gray {
		&-#{$number} {
			color: $value;
		}

		&.hover\:text-warm-gray:hover {
			&-#{$number} {
				color: $value;
			}
		}
	}
}
