@use 'sass:string';

$colors-slate: (
	50: hsl(210, 40%, 98%),
	100: hsl(210, 40%, 96%),
	200: hsl(214, 32%, 91%),
	300: hsl(213, 27%, 84%),
	400: hsl(215, 20%, 65%),
	500: hsl(215, 16%, 47%),
	600: hsl(215, 19%, 35%),
	700: hsl(215, 25%, 27%),
	800: hsl(217, 33%, 17%),
	900: hsl(222, 47%, 11%),
	999: hsl(229, 84%, 5%),
);

@each $key, $value in $colors-slate {
	$number: $key;

	.bg-slate {
		&-#{$number} {
			background-color: $value;
		}
	}

	.hover\:bg-slate-#{$number}:hover {
		background-color: $value;
	}

	.text-slate {
		&-#{$number} {
			color: $value;
		}

		&.hover\:text-slate:hover {
			&-#{$number} {
				color: $value;
			}
		}
	}
}
