@use 'sass:string';

$colors-blue: (
	50: hsl(214, 100%, 96.9%),
	100: hsl(214, 94.6%, 92.7%),
	200: hsl(213, 96.9%, 87.3%),
	300: hsl(212, 96.4%, 78.4%),
	400: hsl(213, 93.9%, 67.8%),
	500: hsl(217, 91.2%, 59.8%),
	600: hsl(221, 83.2%, 53.3%),
	700: hsl(224, 76.3%, 48%),
	800: hsl(226, 70.7%, 40.2%),
	900: hsl(224, 64.3%, 32.9%),
);

@each $key, $value in $colors-blue {
	$number: $key;

	.bg-blue {
		&-#{$number} {
			background-color: $value;
		}
	}

	.hover\:bg-blue-#{$number}:hover {
		background-color: $value;
	}

	.text-blue {
		&-#{$number} {
			color: $value;
		}

		&.hover\:text-blue:hover {
			&-#{$number} {
				color: $value;
			}
		}
	}
}
