@use 'sass:string';

$colors-rose: (
	100: hsl(356, 100%, 97.3%),
	200: hsl(356, 100%, 94.7%),
	300: hsl(352, 96.1%, 90%),
	400: hsl(353, 95.7%, 81.8%),
	500: hsl(351, 94.5%, 71.4%),
	600: hsl(345, 89.2%, 60.2%),
	700: hsl(347, 77.2%, 49.8%),
	800: hsl(345, 82.7%, 40.8%),
	900: hsl(343, 79.7%, 34.7%),
	999: hsl(342, 75.5%, 30.4%),
);

:root {
	@each $key, $value in $colors-rose {
		--clr-rose-#{$key}: #{$value};
	}
}

@each $key, $value in $colors-rose {
	$number: $key;

	.bg-rose {
		&-#{$number} {
			background-color: $value;
		}
	}

	.hover\:bg-rose-#{$number}:hover {
		background-color: $value;
	}

	.text-rose {
		&-#{$number} {
			color: $value;
		}

		&.hover\:text-rose:hover {
			&-#{$number} {
				color: $value;
			}
		}
	}
}
