@use 'sass:string';

$colors-emerald: (
	100: hsl(151.8, 81%, 95.9%),
	200: hsl(141, 84.2%, 92.5%),
	300: hsl(141, 78.9%, 85.1%),
	400: hsl(142, 76.6%, 73.1%),
	500: hsl(158, 64.4%, 51.6%),
	600: hsl(160, 84.1%, 39.4%),
	700: hsl(161, 93.5%, 30.4%),
	800: hsl(163, 93.5%, 24.3%),
	900: hsl(163, 88.1%, 19.8%),
	999: hsl(164, 85.7%, 16.5%),
);

@each $key, $value in $colors-emerald {
	$number: $key;

	.bg-emerald {
		&-#{$number} {
			background-color: $value;
		}
	}

	.hover\:bg-emerald-#{$number}:hover {
		background-color: $value;
	}

	.text-emerald {
		&-#{$number} {
			color: $value;
		}

		&.hover\:text-emerald:hover {
			&-#{$number} {
				color: $value;
			}
		}
	}
}
