@use 'sass:string';

$colors-red: (
	100: hsl(0, 86%, 97%),
	200: hsl(0, 93.3%, 94.1%),
	300: hsl(0, 96.3%, 89.4%),
	400: hsl(0, 93.5%, 81.8%),
	500: hsl(0, 90.6%, 70.8%),
	600: hsl(0, 84.2%, 60.2%),
	700: hsl(0, 72.2%, 50.6%),
	800: hsl(0, 73.7%, 41.8%),
	900: hsl(0, 70%, 35.3%),
	999: hsl(0, 62.8%, 30.6%),
);

:root {
	@each $key, $value in $colors-red {
		--clr-red-#{$key}: #{$value};
	}
}

@each $key, $value in $colors-red {
	$number: $key;

	.bg-red {
		&-#{$number} {
			background-color: $value;
		}
	}

	.hover\:bg-red-#{$number}:hover {
		background-color: $value;
	}

	.text-red {
		&-#{$number} {
			color: $value;
		}

		&.hover\:text-red:hover {
			&-#{$number} {
				color: $value;
			}
		}
	}
}
