@use 'sass:string';

$colors-green: (
	100: hsl(138.5, 76.5%, 96.7%),
	200: hsl(141, 84.2%, 92.5%),
	300: hsl(141, 78.9%, 85.1%),
	400: hsl(141.7, 76.6%, 73.1%),
	500: hsl(142, 69.2%, 58%),
	600: hsl(142, 70.6%, 45.3%),
	700: hsl(142, 76.2%, 36.3%),
	800: hsl(142, 71.8%, 29.2%),
	900: hsl(143, 64.2%, 24.1%),
	999: hsl(144, 61.2%, 20.2%),
);

:root {
	@each $key, $value in $colors-green {
		--clr-green-#{$key}: #{$value};
	}
}

@each $key, $value in $colors-green {
	$number: $key;

	.bg-green {
		&-#{$number} {
			background-color: $value;
		}

		&.hover\:bg-green:hover {
			&-#{$number} {
				background-color: $value;
			}
		}
	}

	.text-green {
		&-#{$number} {
			color: $value;
		}

		&.hover\:text-green:hover {
			&-#{$number} {
				color: $value;
			}
		}
	}
}
