$colors-blue-gray: (
	100: hsl(210, 40%, 98%),
	200: hsl(210, 40%, 96.1%),
	300: hsl(214, 31.8%, 91.4%),
	400: hsl(213, 26.8%, 83.9%),
	500: hsl(215, 20.2%, 65.1%),
	600: hsl(215, 16.3%, 46.9%),
	700: hsl(215, 19.3%, 34.5%),
	800: hsl(215, 25%, 26.7%),
	900: hsl(217, 32.6%, 17.5%),
	999: hsl(222, 47.4%, 11.2%),
);

:root {
	@each $key, $value in $colors-blue-gray {
		--clr-blue-gray-#{$key}: #{$value};
	}
}

@each $key, $value in $colors-blue-gray {
	$number: $key;

	.bg-blue-gray {
		&-#{$number} {
			background-color: $value;
		}
	}

	.hover\:bg-blue-gray-#{$number}:hover {
		background-color: $value;
	}

	.text-blue-gray {
		&-#{$number} {
			color: $value;
		}

		&.hover\:text-blue-gray:hover {
			&-#{$number} {
				color: $value;
			}
		}
	}
}
