@use 'sass:string';

$colors-purple: (
	100: hsl(270, 100%, 98%),
	200: hsl(269, 100%, 95.5%),
	300: hsl(269, 100%, 91.8%),
	400: hsl(269, 97.4%, 85.1%),
	500: hsl(270, 95.2%, 75.3%),
	600: hsl(271, 91%, 65.1%),
	700: hsl(272, 81.3%, 55.9%),
	800: hsl(272, 71.7%, 47.1%),
	900: hsl(273, 67.2%, 39.4%),
	999: hsl(274, 65.6%, 32%),
);

:root {
	@each $key, $value in $colors-purple {
		--clr-purple-#{$key}: #{$value};
	}
}

@each $key, $value in $colors-purple {
	$number: $key;

	.bg-purple {
		&-#{$number} {
			background-color: $value;
		}
	}

	.hover\:bg-purple-#{$number}:hover {
		background-color: $value;
	}

	.text-purple {
		&-#{$number} {
			color: $value;
		}

		&.hover\:text-purple:hover {
			&-#{$number} {
				color: $value;
			}
		}
	}
}
