$colors-violet: (
	50: hsl(250, 100%, 97.6%),
	100: hsl(251, 91.3%, 95.5%),
	200: hsl(251, 95.2%, 91.8%),
	300: hsl(253, 94.7%, 85.1%),
	400: hsl(255, 91.7%, 76.3%),
	500: hsl(258, 89.5%, 66.3%),
	600: hsl(262, 83.3%, 57.8%),
	700: hsl(263, 70%, 50.4%),
	800: hsl(263, 69.3%, 42.2%),
	900: hsl(264, 67.4%, 34.9%),
);

@each $key, $value in $colors-violet {
	$number: $key;

	.bg-violet {
		&-#{$number} {
			background-color: $value;
		}
	}

	.hover\:bg-violet-#{$number}:hover {
		background-color: $value;
	}

	.text-violet {
		&-#{$number} {
			color: $value;
		}

		&.hover\:text-violet:hover {
			&-#{$number} {
				color: $value;
			}
		}
	}
}
