@use '@/scss/utilities/colors' as *;

.aside {
	grid-area: aside;
	display: flex;
	flex-direction: column;
	padding: 2em;
	min-height: 100dvh;
	overflow-y: visible;
	@extend .bg-blue-gray-900;

	* {
		@extend .text-blue-gray-400;
	}

	.nav-menu > menu {
		display: flex;
		flex-direction: column;
		gap: 0.5em;
		list-style: none;
	}
}
